body {
  height: 100%;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  margin-top: 215px;
  margin-bottom: 10px;
  margin-left: auto;
  padding-left: 0px;
  float: left;
  font-family:'Hvd fonts brandontext', sans-serif;
  color: white;
  font-size: 32px;
  line-height: 36px;
  font-weight: 800;
}
h2 {
  display: block;
  margin-top: 35px;
  margin-bottom: 10px;
  margin-left: -30px;
  float: none;
  font-family:'Hvd fonts brandontext', sans-serif;
  color: #444;
  font-size: 28px;
  line-height: 32px;
  font-weight: 200;
  text-align: center;
}
h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family:'Hvd fonts brandontext', sans-serif;
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family:'Hvd fonts brandontext medium', sans-serif;
  color: #291a1a;
  font-size: 22px;
  line-height: 28px;
  font-weight: 500;
  text-align: center;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
  font-family:'Hvd fonts brandontext', sans-serif;
  color: #444;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
}
a {
  display: inline-block;
  margin-left: 50px;
  font-family: Montserrat, sans-serif;
  color: #1683cc;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
}
.button {
  display: inline-block;
  margin-top: 75px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 35px;
  border-radius: 50px;
  background-color: #1683cc;
  font-family:'Hvd fonts brandontext', sans-serif;
  color: white;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  background-color: #085d96;
}
.button:active {
  box-shadow: black 0px 0px 3px 0px inset;
}
.button.center {
  display: inline-block;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  float: none;
}
.button.center.get-in-touch {
  margin-top: 25px;
}
.hero-image-right {
  position: static;
  width: 35%;
  height: 100%;
  float: right;
}
.hero-image-left {
  position: static;
  width: 35%;
  height: 100%;
  float: left;
}
.hero-heading {
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  padding-top: 216px;
  float: none;
  font-family:'Hvd fonts brandontext medium', sans-serif;
  color: #291a1a;
  font-size: 32px;
  line-height: 36px;
  font-weight: 500;
}
.navbar {
  background-color: transparent;
}
.span {
  padding: 5px 12px;
  background-color: #1683cc;
}
.heading-2 {
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-right: 0px;
  float: none;
  font-family:'Hvd fonts brandontext medium', sans-serif;
  color: #291a1a;
  font-weight: 500;
}
.nav-link {
  position: relative;
  margin-left: auto;
  float: none;
  font-family:'Hvd fonts brandontext', sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}
.logo-link {
  margin-left: -30px;
}
.hero-link {
  margin-left: 40px;
  font-family:'Hvd fonts brandontext medium', sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}
.logo-link2 {
  margin-top: -39px;
  margin-left: 150px;
  padding-top: 0px;
  padding-left: 0px;
  color: white;
}
.hero-subheading {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 200;
  text-align: left;
}
.section-heading {
  margin-top: 75px;
  margin-left: 0px;
  font-family:'Hvd fonts brandontext medium', sans-serif;
  color: #291a1a;
  font-size: 32px;
  line-height: 36px;
  font-weight: 500;
  text-align: center;
}
.section-heading.final {
  margin-top: 275px;
  font-size: 36px;
}
.section-heading.white {
  margin-top: 175px;
  margin-right: -183px;
  margin-left: 393px;
  padding-left: 0px;
  color: white;
  font-size: 32px;
  line-height: 36px;
  text-align: left;
}
.section-heading.center.bel {
  color: white;
}
.section-heading.get-in-touch {
  display: block;
  margin-top: 55px;
  float: none;
}
.section-sub-heading {
  color: #444;
  font-size: 22px;
  line-height: 26px;
}
.section-sub-heading.blue {
  color: #291a1a;
}
.section-sub-heading.get-in-touch {
  margin-top: 15px;
  margin-left: 0px;
  font-family:'Hvd fonts brandontext', sans-serif;
  font-weight: 400;
}
.section {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
}
.section.blue {
  background-color: #1683cc;
}
.row {
  display: inline-block;
  width: 85%;
  margin-top: 50px;
  margin-left: 8%;
  text-align: center;
}
.row.clients {
  padding-top: 75px;
}
.row.features {
  margin-top: 35px;
}
.row.pricing {
  margin-top: 100px;
}
.zoomforth {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.lifedreams {
  padding-left: 0px;
}
.containter {
  text-align: center;
}
.section-copy {
  position: static;
  width: 58%;
  padding-top: 20px;
  float: right;
  font-family:'Hvd fonts brandontext', sans-serif;
  color: #291a1a;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
}
.section-image {
  display: inline-block;
}
.rowcopy {
  font-weight: 400;
}
.price {
  margin-top: 1px;
  margin-left: 55px;
  padding-top: 55px;
  padding-left: 55px;
  color: white;
  font-size: 85px;
}
.pricing-copy {
  margin-left: 20px;
  padding-left: 40px;
  color: #291a1a;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
}
.section-link {
  display: inline-block;
  margin-top: 0px;
  margin-left: 0px;
  padding-top: 35px;
  float: right;
  font-family:'Hvd fonts brandontext medium', sans-serif;
  color: rgba(255, 255, 255, 0.49);
}
.section-link.w--current {
  position: static;
  display: block;
  margin-left: 122px;
  padding-top: 35px;
}
.section-link.center {
  position: static;
  display: block;
  margin-top: 50px;
  margin-left: auto;
  padding-top: 0px;
  float: none;
  color: #1683cc;
}
.section-link.center.white {
  margin-top: 100px;
  margin-left: 0px;
  color: rgba(255, 255, 255, 0.49);
}
.section-link.get-in-touch {
  display: block;
  margin-top: 15px;
  padding-top: 15px;
  float: none;
  font-family:'Hvd fonts brandontext', sans-serif;
  color: #1683cc;
  font-weight: 400;
  text-align: center;
}
.contact-form {
  display: block;
  margin-top: 35px;
  float: none;
  text-align: center;
}
.field-label {
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family:'Hvd fonts brandontext', sans-serif;
  color: #444;
  font-size: 18px;
  line-height: 22px;
}
.contact-form-field {
  position: static;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  width: 450px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  border-top-style: none;
  border-right-style: none;
  border-bottom-color: #1683cc;
  border-left-style: none;
  font-family:'Hvd fonts brandontext', sans-serif;
  font-size: 18px;
  text-align: center;
}
.contact-form-button {
  margin-top: 35px;
}
.success-message {
  background-color: transparent;
  font-size: 19px;
}
.success-message.copy {
  font-size: 32px;
  line-height: 36px;
}
.error-message {
  display: block;
  margin: 5px;
  padding: 5px;
  background-color: transparent;
}
.error-message.copy {
  margin-top: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #cc1818;
  font-size: 22px;
  line-height: 26px;
}
@media (max-width: 991px) {
  h1 {
    margin-left: 0px;
  }
  .hero-image-right {
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 50%;
  }
  .heading-2 {
    margin-left: 0px;
  }
}
@media (max-width: 767px) {
}
@media (max-width: 479px) {
}

@font-face {
  font-family: 'Hvd fonts brandontext';
  src: url('../fonts/HVD Fonts - BrandonText-Thin.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Hvd fonts brandontext';
  src: url('../fonts/HVD Fonts - BrandonText-ThinItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Hvd fonts brandontext';
  src: url('../fonts/HVD Fonts - BrandonText-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Hvd fonts brandontext';
  src: url('../fonts/HVD Fonts - BrandonText-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Hvd fonts brandontext';
  src: url('../fonts/HVD Fonts - BrandonText-Bold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Hvd fonts brandontext';
  src: url('../fonts/HVD Fonts - BrandonText-Black.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Hvd fonts brandontext';
  src: url('../fonts/HVD Fonts - BrandonText-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Hvd fonts brandontext medium';
  src: url('../fonts/HVD Fonts - BrandonText-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Hvd fonts brandontext';
  src: url('../fonts/HVD Fonts - BrandonText-BoldItalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Hvd fonts brandontext';
  src: url('../fonts/HVD Fonts - BrandonText-Light.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Hvd fonts brandontext';
  src: url('../fonts/HVD Fonts - BrandonText-LightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Hvd fonts brandontext';
  src: url('../fonts/HVD Fonts - BrandonText-BlackItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}


.border-decoration-style {
    border: 1px solid #1683cc;
}


@media only screen and (max-device-width: 480px){
    .hero-image-right, .hero-image-left {
        display: none;
    }

    .w-container h1 {
        margin: 15px;
        margin-top: 35px;

        font-size: 24px;
        line-height: 26px;
    }

    .w-container h1.hero-heading {
        padding-top: 80px;
        margin: 10px;
        font-size: 24px;
        line-height: 26px;
    }

    .hero-subheading {
        margin: 10px;
        font-size: 20px;
    }

    .contact-form-field {
        width: 90%;
    }

    .Fixtures-for-phone .w-container .button {

        text-align: center;
        display: block;
        margin: 0 40px;
        margin-top: 40px;

    }

    .pricing {
        margin-bottom: 20px;
    }

    .section-sub-heading.blue {
        padding: 0px 30px;
    }

    .section-heading.final {
        margin-top: 150px;
        margin-bottom: 150px;
    }

    .price {
        margin: 0px;
        padding: 0px;
        height: 100px;
        margin-top: -40px;
    }

    .section {
        height: auto;
        margin: 30px 0px;
    }

    .w-container .hero-link {
        display: none;
    }

    .section-heading.white {
        margin: 10px 30px;
        margin-top: 50px;
    }

    .section-link.center {
        display: none;
    }

    .section-copy {
        width: auto;
        margin: 18px;
        font-size: 18px;
        line-height: 22px;
    }

    .w-container a.section-link {
        display: none;
    }
}
